scipy
numpy
seaborn==0.8
matplotlib==2.0.2
tqdm==4.11.2
dateparser==1.1.8
pandas==0.19.2
scikit-learn==0.18.2
statsmodels==0.14.0
tensorflow==2.9.0
keras==2.9.0
optuna==3.2.0
ipython
jupyter==1.0.0
yfinance
functools
plotly
lightgbm
xgboost
stumpy
